
@font-face {
  font-family: 'Dancing Script';
  src: url('DancingScript-Regular.otf');
}
/*index.html*/
body{
  font-family: "Dancing Script";
  font-style: normal;
  background-color: #02010a;
  margin: 0px;
  width:100%;
}
.contenido {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.cabecera{
  background-color: #5b7989;
  text-align: left;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px 2px #02010a;
}
nav {
  float: right;
  vertical-align: middle;
}

nav>a {
    color: inherit;
    font-size: 16px;
    text-shadow: 0px 0px 0px #000000;
}

nav>a.actual {
  text-decoration: none;
}

img {
  box-shadow: 2px 2px 2px #02010A;
}

.principal {
  margin: 0px;
  padding: 15px;
  background: #82c3a6;
}

#Principal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.secundaria {
  margin: 0px;
  background: #d5c75f;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: space-around;

}

.secundaria>div {
  flex: 0 0;
  -webkit-flex:0 0;
}

#izquierda {
  order: 1;
  -webkit-order: 1;
}

#derecha {
  order: 2;
  -webkit-order: 2;
}

.secundaria>div>a>figure>img {
  border: 1px black solid;
  width: 320px;
}

.secundaria>div>a>figure>figcaption {
  color: black;
}

#izquierda>a>figure>img:first-child:hover {
  transform: rotateZ(10deg);
  box-shadow:2px 2px 2px #82c3a6;
  border: 2px black solid;
}
#derecha>a>figure>img:first-child:hover {
  transform: translate(20px, -5px);
  box-shadow:2px 2px 2px #82c3a6;
  border: 2px black solid;
}

.pie_de_pagina {
  margin: 0px;
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.pie_de_pagina>div {
  margin-left: auto;
  margin-right: auto;
  flex: 1 0;
}

.pie_de_pagina>div>h2 {
  display: inline;
}

.pie_de_pagina>div>a {
  color: black;
}

.pie_de_pagina>div>img.icons {
  border-style: none;
  box-shadow: 0px 0px 0px #000000;
  width: 16px;
}
#columna1 {
  order: 1;
}
#columna2 {
  order: 2;
}
#columna3 {
  order: 3;
}
#columna4 {
  order: 4;
}
